[submodule "sskk/termprop"]
	path = sskk/termprop
	url = git://github.com/saitoha/termprop.git
[submodule "sskk/canossa"]
	path = sskk/canossa
	url = git://github.com/saitoha/canossa.git
[submodule "sskk/tff"]
	path = sskk/tff
	url = git@github.com:saitoha/tff.git
